## **1- Write a Python program to find the area of a triangle**

In [17]:
def areaOfTriangle(base,height):
  return 1/2*base*height

base = int(input("plz enter base: "))
height = int(input("plz enter height: "))

area = areaOfTriangle(base,height)

print(f"area of a triangle :{area}")

plz enter base: 5
plz enter height: 4
area of a triangle :10.0

# **2- Write a Python program to swap two variables.**

In [18]:
num1 = int(input("Plz enter number one: "))
num2 = int(input("Plz enter number two: "))


#way one
temp = num1
num1 = num2
num2 = temp



#way two
"""
num1 += num2
num2 = num1 - num2
num1 -= num2
"""


#way three
"""
num1 *= num2
num2 = num1 / num2
num1 /= num2
"""


print(f"number one after swap {int(num1)}, number two after swap {int(num2)}")

Plz enter number one: 5
Plz enter number two: 10
number one after swap 10, number two after swap 5

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [19]:
def convertFormKilometerToMiles(number):
  return number*0.621371192


number_By_Kilometers = float(input("Enter Number of Kilometers: "))

miles = convertFormKilometerToMiles(number_By_Kilometers)

print(f"Number by Miles :{miles}")

Enter Number of Kilometers: 1
Number by Miles :0.621371192